@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900%27');
.header{
    display: flex;
    justify-content:  space-between;
    padding: 12px 122px;
}

.container-navegação{
    display: flex;
    gap: 50px;
    
}
.navegação{
    list-style: none;
    display: flex;
    gap: 30px;
}
.navegação-2{
    display: flex;
    gap:20px
}

.circle{
    height: 349px;
    width: 349px;
    border-radius: 230px;
    position: absolute;
    left: 56.01%;
    right: 0%;
    top: 15.43%;
    bottom: -5.14%;
    
    
    


}

.h1{
    padding: 0px 40px;
    position: absolute;
    left: 6%;
    right: 47.18%;
    top: 28.86%;
    bottom: 2.29%;


}
html{
    font-family: poppins;
}
    